h1{
    font-size: 66px;
    color: black;
    padding: 20px;
    text-align: center;
}

h2{
    font-size: 24px;
    text-transform: uppercase;
    color: red;
    font-weight: 600;
}

img {
    height: 400px;
    object-fit: cover;
    width: 400px;
}

.carousel-caption h5{
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 2px black;
}
